body {
  margin: 0px;
  fon
}
header {
  width: 100%;
  margin: auto;
}
#placeholder {
  width: 100%;
  height: 1200px;
  background-color: orange;
}
footer {
  width: 100%;
  height: 500px;
  background-color: blue;
}
.description {
  width: 100%;
  height: 600px;
  background-color: #2B2929;
}
.skewed {

}


#Overskrift_footer{
text-align: center;
font-family: 'Source Sans Pro';
font-size: 40px;
padding-top:70px;
}
#tekstfooter{
text-align: center;
font-family: 'Source Sans Pro';
font-weight: lighter;
font-size: 20px;
}
