body {
  margin: 0px;
  padding: 0;
}
header {
  width: 100%;
  margin: auto;
}
#placeholder {
  width: 100%;
  height: 1200px;
  background-color: orange;
  float: left;
}
#placeholder h1 {
  font-size: 200px;
  color: red;
}
#placeholder h1 {
  color: white;
  font-size: 20px;
}
#placeholder h2 {
  color: white;
  font-size: 70px;
  padding-top: 250px;
  text-align: center;
}
footer {
  width: 100%;
  height: 500px;
  background-color: blue;
  margin: auto;
  text-align: center;
}
.description {
  float: left;
  width: 100%;
  height: 600px;
  background-color: #2B2929;
  margin: 0px;
  padding: 0px;
}
footer {
  float: left;
  width: 100%;
  height: 400px;
  background-color: #403E3E;
}
#Overskrift_footer {
  font-family: 'Source Sans Pro';
  font-size: 50px;
  font-weight: bold;
  padding-top:10px;
  color: white;
}
#tekstfooter {
  margin: auto;
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  font-size: 20px;
  color: white;
  line-height: 25px;
}
#kontakt_information {
  font-family:'Source Sans Pro';
  font-weight: lighter;
  font-size: 20px;
  color: white;
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 40px;
}
#social{
width: 100%;
height: 80px;
background-color: #1D1D1D;
float: left;
}
.fa{
padding-top:30px;
font-size: 100px;
width: 80px;
text-align: center;
text-decoration: none;
color: white;
}
