body {
  margin: 0px;
}
header {
  width: 100%;
  margin: auto;
}
#placeholder {
  width: 100%;
  height: 1200px;
  background-color: orange;
}
footer {
  width: 100%;
  height: 500px;
  background-color: blue;
  margin: auto;
  text-align: center;
}
.description {
  width: 100%;
  height: 600px;
  background-color: #2B2929;
}
#Overskrift_footer{
font-family: 'Source Sans Pro';
font-size: 30px;
padding-top:70px;
color: white;
}
#tekstfooter{
margin: auto;
font-family: 'Source Sans Pro';
font-weight: lighter;
font-size: 15px;
color: white;
padding-top: 10px;
}
#kontakt_information{
font-family:'Source Sans Pro';
font-weight: lighter;
font-size: 15px;
color: white;
}
